
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>

<form method="post" action="\Contact\HandleQuery">
    Question:
    <br />
    <textarea class="form-control" rows="4" name="query"></textarea>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" />
</form>



@if (ViewBag.Message != null)
{
    <div class="alert alert-primary" role="alert">
        @ViewBag.Message
     </div>
}
else if (ViewBag.Error != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.Error
    </div>
}